<br />
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-4">
          <p-card class="card text-center">
            <h5 class="text-center" valign="top" align="left">
              Customer Request
            </h5>
            <hr />
            <span> Total Customer requested to new connection.</span>
            <p valign="bottom" align="right" class="small-knob">
              <br />
              <p-knob
                class="text-center"
                valueColor="#f4511e"
                [(ngModel)]="data1"
                valueTemplate="{value}%"
              ></p-knob>
            </p> </p-card
          ><br />
        </div>
        <div class="col-md-4">
          <p-card class="card text-center">
            <h5 class="text-center" valign="top" align="left">
              Order Progress Count
            </h5>
            <hr />
            Total items progressed to delivery partner.
            <p valign="bottom" align="right" class="small-knob">
              <br />
              <p-knob
                class="text-center"
                valueColor="#f4511e"
                [(ngModel)]="data1"
                valueTemplate="{value}%"
              ></p-knob>
            </p> </p-card
          ><br />
        </div>
        <div class="col-md-4">
          <p-card class="card text-center">
            <h5 class="text-center" valign="top" align="left">
              Employee Count
            </h5>
            <hr />
            Employee includes both admin and delivery
            <p valign="bottom" align="right" class="small-knob">
              <br />
              <p-knob
                class="text-center"
                valueColor="#f4511e"
                [(ngModel)]="data1"
                valueTemplate="{value}%"
              ></p-knob>
            </p> </p-card
          ><br />
        </div>
      </div>
      <!-- row end -->
      <div class="row">
        <p-card>
          <div class="row">
            <div class="col-md-8">
              <Marquee class="card">
                <h4>
                  Download Data Sheet for customer, Order and Delivery.<br />
                </h4>
              </Marquee>
            </div>
            <div class="col-md-4">
              <button class="btn btn-primary" style="width:100%;">Find</button>
            </div>
          </div>
        </p-card>
        &nbsp;
      </div>
    </div>
    <div class="col-md-6">
      <p-card class="card" [style]="{ width: '99%', height: '93%' }">
        <h5 valign="top" align="left">
          Rotational Product Manufacturing and Refilling (RPMR)
        </h5>
        <hr />
        <p-toast [style]="{ marginTop: '80px' }"></p-toast>

        <!-- <div class="small-knob">
          <apx-chart
          [series]="chartOptions.series"
          [chart]="chartOptions.chart"
          [plotOptions]="chartOptions.plotOptions"
          [labels]="chartOptions.labels"
        ></apx-chart>
        </div> --> </p-card
      ><br />
      <br />
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <p-card class="card" [style]="{ width: '99%', height: '93%' }">
        <h5>Stock Utility</h5>
        <hr />
        <!-- <p-chart
        type="doughnut"
        [data]="stock"
        [options]="chartOptions"
      ></p-chart> -->
      </p-card>
    </div>
    <div class="col-md-3">
      <p-card class="card" [style]="{ width: '99%', height: '93%' }">
        <h5>Sales Data</h5>
        <hr />
        <!-- <p-chart
        type="polarArea"
        [data]="sales"
        [options]="chartOptions"
      ></p-chart> -->
      </p-card>
    </div>
    <div class="col-md-6">
      <p-card class="card" [style]="{ width: '99%', height: '93%' }">
        <h5>Product Recycle</h5>
        <hr />
        <!-- <p-chart
        type="line"
        [data]="basicData"
        [options]="basicOptions"
      ></p-chart> -->
      </p-card>
    </div>
  </div>
</div>
