<div class="jumbotron text-center">
  <h1>
    Cr<svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      fill="currentColor"
      class="bi bi-check2-circle"
      viewBox="0 0 16 16"
    >
      <path
        d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"
      />
      <path
        d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"
      /></svg
    >n
  </h1>
  <p>We specialise in your peace in business.</p>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <div class="input-group">
          <input
            (keyup)="onKey($event)"
            (keyup.enter)="showWarn()"
            type="text"
            class="form-control"
            size="50"
            placeholder="Email Address"
            required
          />
        </div>
        {{ values }}
        <br />
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
</div>
<br />
<div class="row">
  <div class="col-md-4 text-center element">
    <img
      src="https://ik.imagekit.io/vishnuprashob/undraw_just_browsing_re_ofnd.svg?ik-sdk-version=javascript-1.4.3&updatedAt=1672983023146"
      class="mini-card"
    />
    <div class="icon-info">Create</div>
  </div>
  <div class="col-md-4 text-center element">
    <img
      src="https://ik.imagekit.io/vishnuprashob/undraw_my_personal_files_re_3q0p.svg?ik-sdk-version=javascript-1.4.3&updatedAt=1672983077308"
      class="mini-card"
    />
    <div class="icon-info">Align</div>
  </div>
  <div class="col-md-4 text-center element">
    <img
      src="https://ik.imagekit.io/vishnuprashob/undraw_online_stats_0g94.svg?ik-sdk-version=javascript-1.4.3&updatedAt=1672982835562"
      class="mini-card"
    />
    <div class="icon-info">Monitor</div>
  </div>
</div>
